/*====================================================================================*/
/* Common
/*====================================================================================*/
.ContentsInstagramList{
	display:inline-block;
}
.ContentsInstagramList a img{
	width: calc((100vw - 150px - 40px * 3)/4);
    height: calc((100vw - 150px - 40px * 3)/4);
    margin-right:20px;
    margin-left:20px;
    margin-bottom:40px;
	object-fit: cover;
}

/*====================================================================================*/
/* PC 
/*====================================================================================*/

/*====================================================================================*/
/* スマフォ縦表示
/*====================================================================================*/
/* ipad pro? */
@media only screen and (max-width: 1024px) and (orientation:portrait){
}
/*====================================================================================*/
/* スマフォ　横表示
/*====================================================================================*/
@media only screen and (max-width: 1024px) and (orientation:landscape){
}

